<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <a href="/" class="logo">CN Issue Tracker</a>
    <a href="/project/new" class="header-btn btn"><i class="fa fa-circle-plus"></i> New Project</a>
</div>