body {
  background-color: #f3ebf5;
}

main {
  padding-bottom: 60px;
  padding-top: 70px;
}

a {
  text-decoration: none;
}

.project-title {
  background: #916097;
}

/* Bootstrap buttom*/
.btn-danger {
  background-color: #bc2550 !important;
}

label {
  margin-bottom: 10px;
}

.empty-result-msg {
  color: white;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.label-tab {
  border: none;
  color: #fff;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  background-color: #3B183F !important;
  border: 1px solid #3B183F !important;
}

.choices__button {
  border-left: 1px solid #fff !important;
}

footer {
  background: #916198;
  color: #300c33;
}

.choices__inner {
  min-height: 38px;
  padding: 3px 4px 0px;
  background-color: #fff;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.choices__input {
  background-color: #fff;
}

.choices__list--multiple .choices__item {
  background-color: #3B183F;
  border: 1px solid #3B183F;
}
